* {
    margin: 0px;
    padding: 0px;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: black;
}