* {
    margin: 0px;
    padding: 0px;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: black;
}

.car {
    background-image: url(car.avif);
    background-size: cover;
    position: relative;
    height: 700px;
    background-position: center;
}

@media (max-width: 575px) {
    .car {
        background-position: 25% 0%;
    }
}

.car-txt {
    margin-top: 200px;
}

.car-txt-1 {
    display: flex;
    flex-direction: column;
    justify-content: end !important;
}

.txt-1 {
    height: 165px;
    width: 400px;
    font-size: 55px;
    line-height: 60px;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 25px 25px;
    color: black;
    animation: slideUp 3s ease-out forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.txt-2 {
    height: 95px;
    width: 290px;
    display: flex;
    align-items: center;
    color: black;
    padding: 0px 10px;
    animation: slideUp 3s ease-out forwards;
}

.txt-3 {
    height: 45px;
    width: 120px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 10px;
    animation: slideUp 3s ease-out forwards;
}

@media (max-width: 575px) {
    .car-txt {
        margin-top: 50px;
    }

    .car-txt-1 {
        margin-left: 20px;
    }

}

.cr-1 {
    height: 220px;
    width: 370px;
    background-image: url(car-2.avif);
    background-size: cover;
}

.cr-2 {
    height: 130px;
    width: 110px;
    background-image: url(car-3.avif);
    margin-top: 200px;
    margin-left: 150px;
    animation: slideUp 3s ease-out forwards;
}

.txt-4 h1 {
    font-weight: 400;
    animation: slideUp 3s ease-out forwards;
}

.txt-4 p {
    font-size: 18px;
    margin-top: 100px;
}

.ser {
    height: 45px;
    width: 180px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 575px) {
    .cr-2 {
        margin-top: 0px;
        margin-left: 10px;
    }

    .txt-4 p {
        margin-top: 30px;
    }

    br {
        display: none;
    }
}